#!/usr/bin/env python3

# This file is a slightly modified version of
# https://gist.github.com/jasonrobertfox/8057124
import sys
import subprocess


def check_format_rules(lineno, line):
    if lineno == 0:
        if not line:
            return False
        if not line[0].isupper():
            return "The first line should be capitalized."
        if len(line) > 50:
            return "The first line should be less than 50 chars long"
        if line.endswith("."):
            return "The first line should not end with a period"
    if lineno == 1 and not line.startswith("#") and line:
        return "The second line should be blank"
    if len(line) > 72:
        return "Line {} is longer than 72 chars".format(lineno + 1)
    return False


def validate_commit(message_file):
    err_header = "# Commit Message Errors:\n"

    while True:
        commit_msg = []
        errors = []

        with open(message_file) as commit_file:
            for lineno, line in enumerate(commit_file):
                stripped = line.strip()
                if "diff --git a" in stripped or err_header in line:
                    break
                commit_msg.append(line)
                commit_error = check_format_rules(lineno, stripped)
                if commit_error:
                    errors.append(commit_error)

        if not errors:
            break
        with open(message_file, 'w') as commit_file:
            for line in commit_msg:
                commit_file.write(line)
            commit_file.write(err_header)
            for error in errors:
                commit_file.write("#    {}\n".format(error))

        print("Invalid git commit message.")
        with open('/dev/tty') as sys.stdin:
            force_commit = input("Force commit? [nye] > ")
            if force_commit in ("e", "edit"):
                cmd = "vim - +'e {}'".format(message_file)
                subprocess.call(cmd, shell=True)
            else:
                sys.exit(0) if force_commit in ("y", "yes") else sys.exit(1)

validate_commit(sys.argv[1])
