.DS_Store
.vim/backup
.vim/custom-dictionary.utf-8.add
.vim/pack/
.vim/spell
.vim/session
.vim/cscope
.vim/.netrwhist
Session.vim
.ipython/profile_default/*
!.ipython/profile_default/ipython_config.py
.ctags
tags
*.xcworkspace
*.xctimeline
xcuserdata
