[user]
    name = Akshay Hegde
    email = code@akshay"-hegde".com
[log]
    date = iso
[credential]
    helper = osxkeychain
[init]
    templatedir = ~/.git_template
[commit]
    gpgsign = true
    verbose = true
[push]
    default = current
[color]
    ui = auto
[advice]
    statusHints = false
    resolveConflict = false
[core]
    excludesfile = /Users/ajh/.gitignore
    autocrlf = false
    pager = less --ignore-case --hilite-search --LONG-PROMPT --RAW-CONTROL-CHARS --no-init --quit-if-one-screen
[grep]
    lineNumber = true
    patternType = perl
[alias]
    stat = status -sb
    news = !git fetch && git log --oneline @..@{u}
    copy-rev = !git rev-parse --short @ | tr -d '\n' | pbcopy && echo "Copied $(pbpaste)"

    ctags = !.git/hooks/ctags
    dirdiff = difftool --tool vdwrap --dir-diff

    discard = !git stash save `date`
    restore = stash apply

    tags = tag -l
    branches = branch -av
    stashes = stash list
    refs = reflog -10
[diff]
    tool = vdwrap
    algorithm = histogram
[difftool]
    prompt = false
[difftool "vdwrap"]
    cmd = vdwrap $LOCAL $REMOTE
[merge]
    tool = vimdiff
    log = true
[mergetool]
    prompt = false
    keepBackup = false
[gpg]
    program = gpg
