[user]
    name = Akshay Hegde
    email = git@akshay"-hegde".com
[credential]
    helper = osxkeychain
[init]
    templatedir = ~/.git_template
[commit]
    gpgsign = true
    verbose = true
[push]
    default = current
[color]
    ui = auto
[color "diff"]
    old = red strike
[advice]
    statusHints = false
    resolveConflict = false
[core]
    excludesfile = /Users/ajh/.gitignore
    autocrlf = false
[alias]
    # Commit actions
    amend = commit --amend --no-edit
    edit = commit --amend

    # Helper
    unmerged = diff --name-only --diff-filter=U
    staged = diff --cached
    download = clone --depth=1
    show-latest-changes = !git fetch && git log --oneline @..@{u}
    open-remote = !open $(git remote show origin | sed -n 2p | cut -d' ' -f5)
    sha1 = rev-parse @

    # Stash utils
    # Like "git checkout -- ." but actually stash it
    discard = !git stash save `date`
    restore = stash apply

    # Utility
    ctags = !.git/hooks/ctags
    dirdiff = difftool --tool vdwrap --dir-diff

    # Listing
    tags = tag -l
    branches = branch -av
    stashes = stash list
    refs = reflog -10
    logs = log --no-merges --pretty=format:'%h%x09%an%x09%ad%x09%s' -15

    # Log Formats
    patchlog = log --decorate -p
    statlog = log --decorate --stat
[grep]
    extendRegexp = true
    lineNumber = true
[diff]
    tool = vdwrap
[difftool]
    prompt = false
[difftool "vdwrap"]
    cmd = vdwrap $LOCAL $REMOTE
[merge]
    tool = vimdiff
    log = true
[mergetool]
    prompt = false
    keepBackup = false
[rerere]
    enabled = true
[gpg]
    program = gpg2
