[user]
	name = Akshay Hegde
[init]
	defaultBranch = main
	templatedir = ~/.git_template
[color]
	ui = auto
[advice]
	addEmptyPathspec = false
	resolveConflict = false
	statusHints = false
[core]
	autocrlf = false
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore
[alias]
	copy-rev = !git rev-parse --short @ | tr -d '\n' | pbcopy && echo "Copied $(pbpaste)"
	ctags = !.git/hooks/ctags
	dirdiff = difftool --tool vdwrap --dir-diff
	news = !git fetch && git log --format=medium @..@{u}
	logs = log --graph --pretty='format:%C(auto,yellow)%h %C(auto,blue)%ad %C(auto,green)%aN %C(reset)%s %C(auto)%d%C(reset)'
[log]
	date = iso-strict
[commit]
	gpgsign = true
	verbose = true
[grep]
	lineNumber = true
	patternType = perl
[diff]
	algorithm = histogram
	tool = vdwrap
[difftool]
	prompt = false
[difftool "vdwrap"]
	cmd = vdwrap $LOCAL $REMOTE
[merge]
	log = true
	tool = vimdiff
[mergetool]
	keepBackup = false
	prompt = false
[pull]
	ff = only
[push]
	default = current
